@page
@model Birt.App.Pages.Sculptures

<!DOCTYPE html>
<html>
<head>
    <title>
        Sculptures
    </title>
    <h1>Sculptures</h1>
</head>
<body>
<h2>Possible Queries</h2>
<p>"Every sculpture is a caricature." – Albert Camus</p>
<select id="queryDropdown">
    <option value="famous">List of Famous Sculptures</option>
    <option value="specific-artist">Sculptures by a Specific Artist</option>
    <option value="specific-museum">Sculptures in a Specific Museum</option>
    <option value="historical">Historical Sculptures</option>
    <option value="material">Sculptures by Material</option>
    <option value="period">Sculptures from a Specific Period</option>

</select>
<button id="allsculptures" class="btn btn-primary">Get Results</button>
<div id="loading" style="display: none;">
    <div class="spinner"></div>
    Loading data...
</div>

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<button id="exportCsv" class="export-button" style="display: none;">Export CSV</button>
<button id="exportHtml" class="export-button" style="display: none;">Export HTML</button>

<form id="specificArtistForm" method="get" style="display: none;">
    <div class="form-group">
        <label for="artist">Select Artist:</label>
        <select id="artist" name="artist" class="form-control">
            <option value="">-- Select Artist --</option>
            <option value="Q37562">Donatello (1386–1466)</option>
            <option value="Q5592">Michelangelo (1475–1564)</option>
            <option value="Q160538">Gian Lorenzo Bernini (1598–1680)</option>
            <option value="Q5547">Antonio Canova (1757–1822) </option>
            <option value="Q30755">Auguste Rodin (1840–1917)</option>
            <option value="Q153048">Constantin Brâncuși (1876–1957)</option>
            <option value="Q151097">Henry Moore (1898–1986)</option>
            <option value="Q234109">Barbara Hepworth (1903–1975)</option>
            <option value="Q159409">Louise Bourgeois (1911–2010)</option>
            <option value="Q156731">Claes Oldenburg (1929–2022)</option>
            <option value="Q360371">Antony Gormley (1950–) </option>
            <option value="Q297525">Jeff Koons (1955–)</option>
            <option value="Q1396516">Jaume Plensa (1955–)</option>
            <option value="Q160115">Ai Weiwei (1957–)</option>
            <option value="Q235063">Maya Lin (1959–)</option>
            <option value="Q454041">Rachel Whiteread (1963–)</option>
        </select>
    </div>
</form>


<form id="periodForm" method="get" style="display: none;">
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" class="form-control">
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Get Sculptures</button>
</form>

<h2>Results</h2>
<ul id="results"></ul>
<script type="module">
    import { getAllSculptures, toggleCriteriaForm, handleQuery, exportTableToCSV, exportTableToHTML, getSpecificArtistSculptures, getSculpturesByPeriod } from '/js/sculptures.js';
    document.addEventListener('DOMContentLoaded', (event) => {
        const queryDropdown = document.getElementById("queryDropdown");
        queryDropdown.addEventListener("change", () => {
            toggleCriteriaForm();
            handleQuery(event);
        });
    
        document.getElementById("allsculptures").addEventListener("click", () => {
            getAllSculptures();
            document.getElementById("exportCsv").style.display = 'inline-block';
            document.getElementById("exportHtml").style.display = 'inline-block';
        });
    
        document.getElementById("specificArtistForm").addEventListener('submit', (event) => {
            event.preventDefault();
            getSpecificArtistSculptures(event).then(() => {
                document.getElementById("exportCsv").style.display = 'inline-block';
                document.getElementById("exportHtml").style.display = 'inline-block';
            });
        });
    
        document.getElementById("artist").addEventListener("change", (event) => {
            getSpecificArtistSculptures(event);
        });
    
        document.getElementById("exportCsv").addEventListener("click", () => {
            if (confirm("Do you want to download the results as CSV?")) {
                const dropdown = document.getElementById("queryDropdown");
                const selectedOption = dropdown.options[dropdown.selectedIndex].text;
                const filename = `${selectedOption.replace(/\s+/g, '_').toLowerCase()}.csv`;
                exportTableToCSV(filename);
            }
        });
    
        document.getElementById("exportHtml").addEventListener("click", () => {
            if (confirm("Do you want to download the results as HTML?")) {
                const dropdown = document.getElementById("queryDropdown");
                const selectedOption = dropdown.options[dropdown.selectedIndex].text;
                const filename = `${selectedOption.replace(/\s+/g, '_').toLowerCase()}.html`;
                exportTableToHTML(filename);
            }
        });
    });
    
    document.getElementById("periodForm").addEventListener("submit", async (event) => {
        event.preventDefault();
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;

        if (!startDate || !endDate) {
            alert("Please select both start and end dates.");
            return;
        }

        getSculpturesByPeriod(startDate, endDate).then(() => {
            document.getElementById("exportCsv").style.display = "inline-block";
            document.getElementById("exportHtml").style.display = "inline-block";
        });
    });


</script>
</body>
</html>